<div class='mt-4'>
  <div>
    <a class='text-decoration-none' href='/me/stored/khoahoc'>Khóa học đã đăng
      ký</a>
    <h2>Khóa Học đã xóa</h2>

  </div>

  <table class='table mt-4'>
    <thead>
      <tr>
        <th scope='col'>#</th>
        <th scope='col'>Tên khóa học</th>
        <th scope='col'>Trình độ</th>
        <th scope='col' colspan='2'>Thời gian tạo</th>

      </tr>
    </thead>
    <tbody>
      {{#each khoahoc}}
        <tr>
          <th scope='row'>{{sum @index 1}}</th>
          <td>{{this.name}}</td>
          <td>{{this.lever}}</td>
          <td>{{this.createdAt}}</td>
          <td>
            <a
              href=''
              class='btn-restore btn btn-link text-decoration-none'
              data-id='{{this._id}}'
            >Khôi phục</a>
            <a
              href=''
              data-bs-toggle='modal'
              data-bs-target='#exampleModal'
              data-bs-id='{{this._id}}'
              class='btn btn-link text-decoration-none'
            >Xóa vĩnh viễn</a>
          </td>
        </tr>
      {{else}}
        <tr>
          <td class='text-center' colspan='5'>
            Bạn chưa xóa khóa học nào.
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

{{! hiện cảnh báo }}

<div
  class='modal fade'
  id='exampleModal'
  tabindex='-1'
  aria-labelledby='exampleModalLabel'
  aria-hidden='true'
>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title' id='exampleModalLabel'>Xóa bỏ vĩnh viễn</h5>
        <button
          type='button'
          class='btn-close'
          data-bs-dismiss='modal'
          aria-label='Close'
        ></button>
      </div>
      <div class='modal-body'>
        xóa vĩnh viễn sẽ không thể khôi phục được
      </div>
      <div class='modal-footer'>
        <button
          id='btn-delete-khoahoc'
          type='button'
          class='btn btn-danger'
        >Xóa</button>
        <button
          type='button'
          class='btn btn-primary'
          data-bs-dismiss='modal'
        >Hủy</button>
      </div>
    </div>
  </div>
</div>

{{! form xóa bỏ ẩn }}
<form name='delete-khoahoc-form' method='POST'></form>

{{! form khôi phục ẩn }}
<form name='restore-khoahoc-form' method='POST'></form>

<script>
  document.addEventListener('DOMContentLoaded', function () { var idkhoahoc; var
  deleteForm = document.forms['delete-khoahoc-form']; var restoreForm =
  document.forms['restore-khoahoc-form']; var btnDeleteKhoahoc =
  document.getElementById('btn-delete-khoahoc'); var exampleModal =
  document.getElementById('exampleModal'); var restoreBtn =$('.btn-restore');
  exampleModal.addEventListener('show.bs.modal', function (event) { var button =
  event.relatedTarget; idkhoahoc = button.getAttribute('data-bs-id'); });
  btnDeleteKhoahoc.onclick = function () { deleteForm.action = '/khoahoc/' +
  idkhoahoc + '/norestore?_method=DELETE'; deleteForm.submit(); };
  restoreBtn.click(function (e) {e.preventDefault(); var khoahocIDrestore =
  $(this).data('id'); restoreForm.action = '/khoahoc/' + khoahocIDrestore +
  '/restore?_method=PATCH'; restoreForm.submit(); }) });

</script>